<div class="payment-info-container">
  <div class="background-overlay"></div>
  <div class="header">
    <img src="https://i.ibb.co/1tkjB7sR/Whats-App-Image-2025-06-25-at-1-14-47-PM-removebg-preview.png"  alt="Logo" class="logo">
    <h1>Débloquez le Potentiel Complet de Quick Soft</h1>
    <p class="tagline">Passez à la version premium pour accéder à toutes les fonctionnalités avancées et optimiser votre gestion d'entreprise.</p>
  </div>

  <div class="features-section">
    <h2>Ce que vous obtiendrez en payant:</h2>

    <div class="feature-category">
      <h3><i class="bx bx-cart-alt"></i> Gestion Commerciale: Opérations & Processus</h3>
      <ul>
        <li><strong>Listes Détaillées:</strong> Gérez vos clients, prospects, fournisseurs, articles, banques, et plus.</li>
        <li><strong>Ventes et Achats Avancés:</strong> Créez et suivez devis, commandes, factures, avoirs et règlements.</li>
        <li><strong>Traitements Spécifiques:</strong> Optimisez avec les remises en banque, virements, et gestion des stocks.</li>
      </ul>
    </div>

    <div class="feature-category">
      <h3><i class="bx bx-bar-chart-alt-2"></i> Outils d'Analyse et Rapports Complets</h3>
      <ul>
        <li><strong>Rapports et États Détaillés:</strong> Accédez à des analyses commerciales, relevés de comptes, statistiques, échéanciers, et inventaires.</li>
        <li><strong>Suivi des Performances:</strong> Visualisez le portefeuille de commandes, l'évolution des ventes, et la répartition par famille.</li>
        <li><strong>Divers Outils:</strong> Profitez de la messagerie intégrée, du catalogue des articles, et de la gestion des relations clients.</li>
      </ul>
    </div>

    <div class="cta-section">
      <p>Prêt à transformer votre gestion ?</p>
      <p class="price-details">Seulement <span>75 DT / An</span> pour un accès complet et illimité.</p>
      <button class="p-button p-component" (click)="initiatePayment()">Payer Maintenant</button>
      <p class="note">*Un paiement annuel est requis pour l'accès complet.</p>
    </div>
  </div>
</div> 