<nav class="navbar" style="padding-left: 20px;padding-right: 20px; position: fixed;">
  <div class="logo_item">
    <i class="bx bx-menu" id="sidebarOpen" (click)="onToggleSidebar()"></i>
    <img src="https://i.ibb.co/xKV3vddN/8a2a07a8-b6ca-4342-8173-14564dd9ab4e-removebg-preview-1-1.png" alt="">
    <a href="" style="cursor: pointer; text-decoration: none; color: inherit;">
      <span>Quick Soft</span>
    </a>
  </div>

  <div class="search_bar">
    <input type="text" placeholder="Search">
  </div>

<div class="navbar_content">
  <i class="bi bi-grid"></i>
  <div class="dark-mode-toggle" (click)="toggleDarkMode()">
    <i class='bx' [class.bx-sun]="!themeService.isDarkMode()" [class.bx-moon]="themeService.isDarkMode()" 
       id="darkLight"></i>
  </div>
  <i class='bx bx-bell'></i>

  <div class="profile-container" (click)="toggleProfileMenu()">
    <img src="https://i.ibb.co/5GzXkw3/user-avatar.png" alt="" class="profile">
    <ul class="profile-submenu" [class.show]="isProfileMenuOpen">
      <li><a href="Profil"><i class="bx bx-user"></i> Mon Profil</a></li>
      <li><a href="#"><i class="bx bx-cog"></i> Paramètres</a></li>
      <li (click)="logout()"><a href="#"><i class="bx bx-log-out" ></i> Déconnexion</a></li>
    </ul>
  </div>
</div>


</nav>