<div class="page-container" style="background-color: #ffa50024;">
    <div class="card">
        <div class="logo-container">
            <img src="https://i.ibb.co/wFrPPJQQ/download.png" alt="Financial Manager Logo">
        </div>

        <!-- Login Section -->
        <div class="form-section" *ngIf="!companyVisible  && !AccountVisible && ShowLoginSection">
            <h2 class="section-title">Connexion</h2>

            <div class="form-row">
                <div class="form-group">
                    <label for="email" class="large-label">Email</label>
                    <input pInputText type="text" pSize="large" placeholder="Entrer votre email" [(ngModel)]="loginRequest.email" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="password" class="large-label">Mot de passe</label>
                    <input pInputText type="password" pSize="large" placeholder="Entrer votre mot de passe" [(ngModel)]="loginRequest.password" />
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <p-button label="S'inscrire" icon="pi pi-user-plus" severity="warn" (click)="showCompanyForm()"></p-button>
                <p-button label="Se connecter" icon="pi pi-sign-in" severity="warn" (click)="Login()"></p-button>
            </div>
        </div>

        <!-- Informations sur l'entreprise -->
        <div class="form-section" *ngIf="companyVisible && !AccountVisible && ShowRegisterSection">
            <h2 class="section-title">Informations sur l'entreprise</h2>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="nomSociete" class="large-label">Nom de l'entreprise</label>
                    <input pInputText  type="text" pSize="large" placeholder="Entrer le nom de l'entreprise"  [(ngModel)]="registerDto.nomSociete" />
                </div>
                
                <div class="form-group">
                    <label for="matriculeFiscale" class="large-label">Matricule fiscal</label>
                    <input pInputText  type="text" pSize="large" placeholder="Entrer l'identifiant fiscal"  [(ngModel)]="registerDto.matriculeFiscale" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="adresseEntreprise" class="large-label">Adresse de l'entreprise</label>
                    <input pInputText  type="text" pSize="large" placeholder="Entrer l'adresse de l'entreprise" [(ngModel)]="registerDto.adresseEntreprise" />
                </div>
                
                <div class="form-group">
                    <label for="email" class="large-label">Email</label>
                    <input pInputText  type="text" pSize="large" placeholder="Entrer l'email de l'entreprise" [(ngModel)]="registerDto.email" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="telephone" class="large-label">Numéro de téléphone</label>
                    <input pInputText  type="text" pSize="large" placeholder="Entrer le numéro de téléphone"  [(ngModel)]="registerDto.telephone" />
                </div>
                <div class="form-group"></div> <!-- Empty for alignment -->
            </div>
            <div>
                <p-button label="Securité" icon="pi pi-arrow-right" severity="warn" (click)="showAccountForm()"></p-button>
            </div>
        </div>


        <!-- Sécurité du compte -->
        <div class="form-section" *ngIf="AccountVisible">
            <h2 class="section-title">Sécurité du compte</h2>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="password" class="large-label">Mot de passe</label>
                    <input pInputText type="password" pSize="large" placeholder="Entrer le mot de passe" [(ngModel)]="registerDto.password"/>
                </div>
                
                <div class="form-group">
                    <label for="confirm-password" class="large-label">Confirmer le mot de passe</label>
                    <input pInputText type="password" pSize="large" placeholder="Confirmer le mot de passe" [(ngModel)]="confirmPassword" />
                </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p-button label="Informations General" icon="pi pi-arrow-left" severity="warn" (click)="showCompanyForm()"></p-button>
                <p-button label="Enregistrer" icon="pi pi-sign-in" severity="warn" (click)="Register()"></p-button>
            </div>
        </div>

        <!-- Vérification de l'email -->
<div class="form-section" *ngIf="ShowVerificationSection">
    <h2 class="section-title">Vérification de l'email</h2>
    <p>Un code de vérification a été envoyé à votre email.</p>

    <!-- 
    <div class="form-row">
        <div class="form-group">
            <label for="verificationCode" class="large-label">Code de vérification</label>
            <input pInputText type="text" pSize="large" placeholder="Entrer le code" [(ngModel)]="verificationCode" />
        </div>
    </div>
    -->


    <div style="display: flex; justify-content: space-between; align-items: center;">
        <p-button label="Renvoyer le code" icon="pi pi-refresh" severity="secondary" (click)="resendCode()" [disabled]="resendDisabled"></p-button>
    </div>

    
</div>

        
        <div class="text-center mt-4">
            <span class="first-time-text" (click)="showRegisterSection()" *ngIf="ShowLoginSection">
              First time here? <strong>Register</strong>
            </span>
            <span class="first-time-text" (click)="showLoginSection()" *ngIf="ShowRegisterSection">
              Already have an account? <strong>Login</strong>
            </span>
          </div>
          

    </div>

</div>
<p-toast />
