<div class="certificate-card" >
  <div class="certificate">
    <div class="header">
      <div class="header-left">
        <p><strong>REPUBLIQUE TUNISIENNE</strong></p>
        <p>MINISTERE DU PLAN ET DES FINANCES</p>
        <p>DIRECTION GENERALE<br />DU CONTRÔLE FISCAL</p>
      </div>
      <div class="header-right">
        <h2>CERTIFICAT DE RETENUE D'IMPÔT<br />SUR LE REVENU<br />OU D'IMPÔT SUR LES SOCIÉTÉS</h2>
        <p>Retenue effectuée le : {{ retenue.dateCreation | date: 'dd/MM/yyyy' }}</p>
        <p style="margin-top: -15px;">ou pendant</p>
      </div>
    </div>

    <div class="section">
      <h4>A - PERSONNE OU ORGANISME PAYEUR</h4>
      <table>
        <tr>
          <td>Matricule fiscal</td>
          <td>Code T.V.A.</td>
          <td>Code catégorie</td>
          <td>N° Etab. secondaire</td>
        </tr>
        <tr>
          <td>{{ stored?.matriculeFiscale }}</td>
          <td>A</td>
          <td>M</td>
          <td>0 0 0</td>
        </tr> 
      </table>
      <p style="padding-top: 15px;">Dénomination de la personne ou de l'organisme payeur : <strong>{{ stored.nomSociete }}</strong></p>
      <p><strong>Adresse :</strong> {{ stored?.adresseEntreprise }} </p>
    </div>

    <div class="section">
      <h4>B - RETENUE EFFECTUÉES SUR :</h4>
      <table >
        <tr>
          <th class="SecondTable">Nature</th>
          <th>Montant Brut</th>
          <th>Retenue ({{retenue.type}})</th>
          <th>Montant Net</th>
        </tr>
        <tr>
          <td class="SecondTable">* Retenue à la source au titre de marché FACTURE {{retenue.numeroFacture}}</td>
          <td>{{ retenue.montantTTC }}</td>
          <td>{{ retenue.retenueMontant }}</td>
          <td>{{ retenue.montantNet }}</td>
        </tr>
        <tr ><td class="SecondTable">Redevances</td><td></td><td></td><td></td></tr>
        <tr><td class="SecondTable">Revenus des comptes spéciaux d'épargnes ouverts auprés des banques</td><td></td><td></td><td></td></tr>
        <tr><td class="SecondTable">Revenus des capitaux mobiliers</td><td></td><td></td><td></td></tr>
        <tr><td class="SecondTable">Revenus des bons de caisse au porteur</td><td></td><td></td><td></td></tr>
        <tr>
          <td class="SecondTable"><strong>Total Général</strong></td>
          <td><strong>{{ retenue.montantTTC }}</strong></td>
          <td><strong>{{ retenue.retenueMontant }}</strong></td>
          <td><strong>{{ retenue.montantNet }}</strong></td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h4>C - BÉNÉFICIAIRE</h4>
      <p>Numero de la carte d'identite ou matricule fiscal</p>
      <table>
        <tr>
          <td>Matricule fiscal</td>
          <td>Code T.V.A.</td>
          <td>Code catégorie</td>
          <td>N° Etab. secondaire</td>
        </tr>
        <tr>
          <td>{{retenue.numeroFacture}}</td>
          <td>A</td>
          <td>M</td>
          <td>0</td>
        </tr>
      </table>
      <p style="padding-top: 10px;"><strong>Nom, prénom ou raison sociale :</strong> {{retenue.fournisseurNom}} <br />{{retenue.fournisseurAdresse}} </p>
    </div>
    <hr>
          <p style="text-align: center;">Je soussigné, certifie exacts les renseignements figurant sur le présent certificat et m'expose aux sanctions prévues par la loi pour toute inexactitude.</p>

    <div class="footer" >
      <div style="display: flex;">
        <p style="padding-right: 30px;">A {{ stored?.adresseEntreprise }}</p>
        <p>{{ retenue.dateCreation | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div>
        <p>Cachet et signature</p>
      </div>
    </div>
      <div style="text-align: center; margin-top: 30px;">
    <button onclick="window.print()" class="print-btn">Imprimer</button>
  </div>
  </div>
  
</div>
