<div class="certificate-card" style="margin-top: 150px; margin-bottom: 100px;">
  <div class="certificate">
    <div class="header">
      <div class="header-left">
        <p><strong>REPUBLIQUE TUNISIENNE</strong></p>
        <p>MINISTERE DU PLAN ET DES FINANCES</p>
        <p>DIRECTION GENERALE<br />DU CONTRÔLE FISCAL</p>
      </div>
      <div class="header-right">
        <h2>CERTIFICAT DE RETENUE D'IMPÔT<br />SUR LE REVENU<br />OU D'IMPÔT SUR LES SOCIÉTÉS</h2>
        <p>Retenue effectuée le : 25/05/2017</p>
        <p>ou pendant</p>
      </div>
    </div>

    <div class="section">
      <h4>A - PERSONNE OU ORGANISME PAYEUR</h4>
      <table>
        <tr>
          <td>Matricule fiscal</td>
          <td>Code T.V.A.</td>
          <td>Code catégorie</td>
          <td>N° Etab. secondaire</td>
        </tr>
        <tr>
          <td>1447045A</td>
          <td>A</td>
          <td>M</td>
          <td>0 0 0</td>
        </tr>
      </table>
      <p><strong>Dénomination :</strong> SOCIETE SMART ELECTRIC</p>
      <p><strong>Adresse :</strong> N°52 AL Ain, 3042 Sfax</p>
    </div>

    <div class="section">
      <h4>B - RETENUE EFFECTUÉES SUR :</h4>
      <table>
        <tr>
          <th>Nature</th>
          <th>Montant Brut</th>
          <th>Retenue (1,5%)</th>
          <th>Montant Net</th>
        </tr>
        <tr>
          <td>* Retenue à la source au titre de marché FACTURE 0000303</td>
          <td>1008.502</td>
          <td>15.128</td>
          <td>993.374</td>
        </tr>
        <tr><td>Redevances</td><td></td><td></td><td></td></tr>
        <tr><td>Revenus des comptes spéciaux d'épargne...</td><td></td><td></td><td></td></tr>
        <tr><td>Revenus des capitaux mobiliers</td><td></td><td></td><td></td></tr>
        <tr><td>Revenus des bons de caisse au porteur</td><td></td><td></td><td></td></tr>
        <tr>
          <td><strong>Total Général</strong></td>
          <td><strong>1008.502</strong></td>
          <td><strong>15.128</strong></td>
          <td><strong>993.374</strong></td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h4>C - BÉNÉFICIAIRE</h4>
      <table>
        <tr>
          <td>Matricule fiscal</td>
          <td>Code T.V.A.</td>
          <td>Code catégorie</td>
          <td>N° Etab. secondaire</td>
        </tr>
        <tr>
          <td>1011267V</td>
          <td>A</td>
          <td>M</td>
          <td>0</td>
        </tr>
      </table>
      <p><strong>Nom, prénom ou raison sociale :</strong> V2 TUNISIE<br />47, Rue El Moez, El manzah, 1004 Tunis</p>
    </div>

    <div class="footer">
      <div>
        <p>A Sfax</p>
        <p>25/05/2017</p>
      </div>
      <div>
        <p>Cachet et signature</p>
      </div>
    </div>
      <div style="text-align: center; margin-top: 30px;">
    <button onclick="window.print()" class="print-btn">Imprimer</button>
  </div>
  </div>
  
</div>
