/* Set the body and html to full height */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height to ensure full coverage */
  }
  
  .content-wrap {
    flex: 1; /* This makes the content expand to fill available space */
  }
  
